{% extends "login/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <!-- Logout Image Container -->
    <div class="logout-image-container"></div>
    <style>
      html, body {
    overflow: hidden;
}

.logout-image-container {
    background-image: url('/static/images/logoutbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; /* Adjust the height as needed */
    width: 160%; /* Full width */
}

.logout-text-content h2 {
    font-size: 60px; /* Make the font size larger */
    margin-top: 20px; /* Add space above the text */
}

.logout-text-content a {
    font-size: 40px; /* Make the font size larger */
    margin-top: 20px; /* Add space above the text */
    margin-left: 300px;
}

    </style>
    <!-- Text Content Section -->
    <div class="logout-text-content">
        <div class="alert alert-info">
            An email has been sent with instructions to reset your password
        </div>
    </div>
</div>
{% endblock content %}