{% extends "login/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="full-screen-bg">
    <!-- Full Screen Background Image -->
    <div class="background-image-container" style="background-image: url('/static/images/loginbackground.jpg');"></div>

    <!-- Login Container -->
    <div class="login-container">
        <!-- Text Content Section -->
        <div class="text-content-section">
            <!-- Your form code here -->
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 font-weight-bold">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password</button>
                </div>
            </form>
           
        </div>

        <!-- Login Image Container -->
        <div class="login-image-container">
            <img src="/static/images/login.jpg" alt="Login Image" />
        </div>
    </div>
    <style>
        html,
        body {

            overflow: hidden;
            /* Prevent scrolling */

        }
    </style>
</div>

{% endblock content %}